.searchBar {
    font-size: 18px;
    font-family: 'Big Shoulders Stencil Text', cursive;
    color: #E2C7CA;
    opacity: .8;
    line-height: 2.5;
    margin-bottom: 5%;

    input {
        height: 30px;
        width: 100%;
        outline: none;
    }
}