.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: nav;
    font-family: 'Big Shoulders Stencil Text', cursive;
    font-size: 60px;


    img {
        height: 200px;
        width: auto;
    }

    button {
        color: #FFFFFF;
        background: #F32C52;
        margin: 40px;
        padding: 12px 12px;
        width: 150px;
        font-size: 20px;
        font-family: 'Big Shoulders Stencil Text', cursive;
        cursor: pointer;
        user-select: none;
        transition: all 150ms linear;
        text-align: center;
        white-space: nowrap;
        text-decoration: none !important;
        text-transform: none;
        border: 0 none;
        border-radius: 36px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        box-shadow: 2px 5px 10px var(--color-smoke);

        &:hover {
            transition: all 150ms linear;
            opacity: .85;
        }

        &:active {
            transition: all 150ms linear;
            opacity: .75;
        }

        &:focus {
            outline: 1px dotted #959595;
            outline-offset: -4px;
        }
    }
}